<!--The content below is only a placeholder and can be replaced.-->
<mat-toolbar color="primary">Calculadora</mat-toolbar>
<div *ngIf="estaAutenticado then autenticado;else noautenticado"></div>

<ng-template #noautenticado>
  <button mat-raised-button color="primary"  (click)="autenticar()">Entrar</button>
</ng-template>

<ng-template #autenticado>
  <button mat-raised-button color="primary" (click)="autenticar()" >Salir</button>

  <mat-card class="card">
    <form class="form">
      <mat-form-field class="field">
        <input class="input" matInput placeholder="Digite un número" [(ngModel)]="resultado" [ngModelOptions]="{standalone: true}">
      </mat-form-field>
    </form>

    <table>
      <ng-container>
        <tr>
          <td *ngFor="let bt of ['1','2','3','+']">
            <mat-button-toggle class="boton" (click)="obtenerNumero(bt)">{{bt}}</mat-button-toggle>
          </td>
        </tr>
        <tr>
          <td *ngFor="let bt of ['4','5','6','-']">
            <mat-button-toggle class="boton" (click)="obtenerNumero(bt)">{{bt}}</mat-button-toggle>
          </td>
        </tr>
        <tr>
          <td *ngFor="let bt of ['7','8','9','*']">
            <mat-button-toggle class="boton" (click)="obtenerNumero(bt)">{{bt}}</mat-button-toggle>
          </td>
        </tr>
        <tr>
          <td *ngFor="let bt of ['C','0','=','/']">
            <mat-button-toggle class="boton" (click)="obtenerNumero(bt)">{{bt}}</mat-button-toggle>
          </td>
        </tr>
      </ng-container>
    </table>
  </mat-card>

</ng-template>

<router-outlet></router-outlet>